@model CUAHANGBANSACH.Models.KHACH

@{
    ViewBag.Title = "Index";
}

<h2>GUEST LOGIN PAGE</h2>

<section id="content">
    <!--
           <lable for="tendangnhap">Tên đăng nhập</lable>
    <input type="text" name="tendangnhap" />
    <lable for="matkhau">Mật Khẩu</lable>
    <input type="text" name="matkhau" />
    <input type="submit" name="check" value="Đăng Nhập" />



            -->


    @using (Html.BeginForm("Redirect", "GUESTLOGIN", FormMethod.Post))
    {
        <p>Tên đăng nhập khách hàng</p> <br />
        @Html.TextBoxFor(m => m.tendangnhap);
        <p>Mật khẩu</p> <br />
        @Html.TextBoxFor(m => m.matkhau);
        <input type="submit" value="Đăng Nhập" />
        <br />
        @ViewBag.Status
    }
</section>


