@model CUAHANGBANSACH.Models.NHANVIEN

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Staff.cshtml";
}

<h2>Staff Login Page</h2>
<section id="content">
    

    @using (Html.BeginForm("Redirect", "STAFFLOGIN", FormMethod.Post))
    {
        <p>Tên đăng Nhập Nhân Viên</p>
        @Html.TextBoxFor(m => m.tendangnhap);
        <br />
        <p>Mật Khẩu</p>
        @Html.TextBoxFor(m => m.matkhau);
        <input type="submit" value="Đăng Nhập" />
        <br />
        @Html.ValidationSummary(false, "");
        @ViewBag.Status
    }
</section>

