USE [master]
GO
/****** Object:  Database [DOANWEB_INITIAL]    Script Date: 3/3/2024 12:33:07 PM ******/
CREATE DATABASE [DOANWEB_INITIAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOANWEB_INITIAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.THOVUANIT\MSSQL\DATA\DOANWEB_INITIAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DOANWEB_INITIAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.THOVUANIT\MSSQL\DATA\DOANWEB_INITIAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOANWEB_INITIAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOANWEB_INITIAL]
GO
/****** Object:  Table [dbo].[CHITIETCHUCVU]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCHUCVU](
	[manhanvien] [char](10) NOT NULL,
	[machucvu] [char](10) NOT NULL,
	[thoihanhopdong] [datetime] NOT NULL,
 CONSTRAINT [PK_CHITIETCHUCVU] PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC,
	[machucvu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[maphieumuahang] [char](10) NOT NULL,
	[masach] [char](10) NOT NULL,
	[soluongmua] [int] NOT NULL,
	[tinhtranggiao] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHITIETDATHANG] PRIMARY KEY CLUSTERED 
(
	[maphieumuahang] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[machucvu] [char](10) NOT NULL,
	[tenchucvu] [nvarchar](50) NOT NULL,
	[tinhtrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[machucvu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[makhachhang] [char](10) NOT NULL,
	[tenkhachhang] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](150) NOT NULL,
	[sdt] [char](11) NOT NULL,
	[avatar] [nvarchar](255) NULL,
	[tendangnhap] [nchar](50) NULL,
	[matkhau] [nchar](20) NULL,
 CONSTRAINT [PK_KHACH] PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[manhanvien] [char](10) NOT NULL,
	[tendangnhap] [char](10) NOT NULL,
	[tennhanvien] [nvarchar](50) NULL,
	[matkhau] [char](20) NOT NULL,
 CONSTRAINT [PK_NHANVIEN_1] PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[manxb] [char](10) NOT NULL,
	[tennxb] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUGIAO]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAO](
	[maphieugiao] [nchar](10) NOT NULL,
	[ngaylap] [datetime] NOT NULL,
	[soluonggiao] [int] NOT NULL,
	[ngaygiaodukien] [datetime] NOT NULL,
	[tinhtranggiao] [nvarchar](50) NOT NULL,
	[maphieumuahang] [char](10) NOT NULL,
	[masach] [char](10) NOT NULL,
	[manhanvien] [char](10) NOT NULL,
 CONSTRAINT [PK_PHIEUGIAO] PRIMARY KEY CLUSTERED 
(
	[maphieugiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUAHANG]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUAHANG](
	[maphieumuahang] [char](10) NOT NULL,
	[ngaylap] [datetime] NOT NULL,
	[tinhtrangthanhtoan] [nvarchar](50) NOT NULL,
	[tinhtrang] [nvarchar](50) NOT NULL,
	[makhachhang] [char](10) NULL,
 CONSTRAINT [PK_PHIEUMUAHANG] PRIMARY KEY CLUSTERED 
(
	[maphieumuahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[masach] [char](10) NOT NULL,
	[tensach] [nvarchar](50) NOT NULL,
	[soluonghienco] [int] NOT NULL,
	[dacdiem] [nvarchar](100) NULL,
	[anhsanpham] [nvarchar](255) NULL,
	[DVT] [nvarchar](20) NOT NULL,
	[dongia] [money] NOT NULL,
	[matheloai] [char](10) NOT NULL,
	[manhanvien] [char](10) NOT NULL,
	[manxb] [char](10) NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THE]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE](
	[mathe] [char](10) NOT NULL,
	[diemthe] [int] NOT NULL,
	[makhachhang] [char](10) NULL,
 CONSTRAINT [PK_THE] PRIMARY KEY CLUSTERED 
(
	[mathe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAISACH]    Script Date: 3/3/2024 12:33:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAISACH](
	[matheloai] [char](10) NOT NULL,
	[tentheloai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THELOAISACH] PRIMARY KEY CLUSTERED 
(
	[matheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETCHUCVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCHUCVU_CHUCVU] FOREIGN KEY([machucvu])
REFERENCES [dbo].[CHUCVU] ([machucvu])
GO
ALTER TABLE [dbo].[CHITIETCHUCVU] CHECK CONSTRAINT [FK_CHITIETCHUCVU_CHUCVU]
GO
ALTER TABLE [dbo].[CHITIETCHUCVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCHUCVU_NHANVIEN] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[NHANVIEN] ([manhanvien])
GO
ALTER TABLE [dbo].[CHITIETCHUCVU] CHECK CONSTRAINT [FK_CHITIETCHUCVU_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG_PHIEUMUAHANG] FOREIGN KEY([maphieumuahang])
REFERENCES [dbo].[PHIEUMUAHANG] ([maphieumuahang])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CHITIETDATHANG_PHIEUMUAHANG]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG_SACH] FOREIGN KEY([masach])
REFERENCES [dbo].[SACH] ([masach])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CHITIETDATHANG_SACH]
GO
ALTER TABLE [dbo].[PHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIAO_NHANVIEN] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[NHANVIEN] ([manhanvien])
GO
ALTER TABLE [dbo].[PHIEUGIAO] CHECK CONSTRAINT [FK_PHIEUGIAO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIAO_PHIEUGIAO] FOREIGN KEY([maphieumuahang], [masach])
REFERENCES [dbo].[CHITIETDATHANG] ([maphieumuahang], [masach])
GO
ALTER TABLE [dbo].[PHIEUGIAO] CHECK CONSTRAINT [FK_PHIEUGIAO_PHIEUGIAO]
GO
ALTER TABLE [dbo].[PHIEUMUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUAHANG_KHACH] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[KHACH] ([makhachhang])
GO
ALTER TABLE [dbo].[PHIEUMUAHANG] CHECK CONSTRAINT [FK_PHIEUMUAHANG_KHACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHANVIEN] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[NHANVIEN] ([manhanvien])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHANVIEN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NXB] FOREIGN KEY([manxb])
REFERENCES [dbo].[NXB] ([manxb])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NXB]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAISACH] FOREIGN KEY([matheloai])
REFERENCES [dbo].[THELOAISACH] ([matheloai])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAISACH]
GO
ALTER TABLE [dbo].[THE]  WITH CHECK ADD  CONSTRAINT [FK_THE_KHACH] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[KHACH] ([makhachhang])
GO
ALTER TABLE [dbo].[THE] CHECK CONSTRAINT [FK_THE_KHACH]
GO
USE [master]
GO
